.page {
  flex-grow: 1;
  padding: 0 2.4rem 5rem;
  padding-top: calc(var(--navHeight) + 2.4rem);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background: var(--backgroundImg) no-repeat;
  background-size: cover;
}
