.page {
  flex-grow: 1;
  padding: 0 2.4rem 5rem;
  padding-top: calc(var(--navHeight) + 2.4rem);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background: var(--backgroundImg) no-repeat;
  background-size: cover;

  &__id {
    font-size: 1.6rem;
    line-height: 1em;
    letter-spacing: 2.7px;

    color: #fff;
    margin-bottom: 3.2rem;
    text-transform: uppercase;

    span {
      opacity: 0.25;
      font-weight: bold;
    }
  }
}
