:root {
  font-size: 62.5%;

  --navHeight: calc(6vh + 4.8rem);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

input,
button {
  display: inline-block;
}
